@font-face {
    font-family: 'Satoshi';
    src: url("../components/assets/Satoshi-Regular.otf");
  }

  @import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
  @font-face {
    font-family: 'Clash';
    src: url('../components/assets/FontsFree-Net-ClashDisplay-Variable.ttf');
}
@font-face {
    font-family: 'Stix';
    src: url('../components/assets/STIXTwoText-Medium.otf');
}
                
@font-face {
  font-family: 'Bellefair';
  src: url('https://fonts.googleapis.com/css2?family=Bellefair&display=swap');
}

@import url('https://fonts.googleapis.com/css2?family=Baskervville&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@500&display=swap');
@tailwind base;

/* .swiper-container {
  width: 320px;
}

@media screen and (min-width: 768px) {
  .swiper-container {
    width: 768px;
  }
} */

/* /* @media screen and (min-width: 640px) {
  .swiper-container {
    width: 640px;
  }
} */


/* @media screen and (min-width: 1024px) {
  .swiper-container {
    width: 1024px;
  }
} */ 
@tailwind components;





@tailwind utilities;